@use '@styles/vars' as *;
@use '@styles/mixins' as *;

$icon-size: 32px;
$border-size: 1px;

.icon-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: $icon-size;
  height: $icon-size;
  border: $border-size solid var(--color-icons);

  transition-duration: $animation-duration;

  &:hover {
    border: $border-size solid var(--color-primary);
  }

  &--dark {
    border: none;
    background-color: var(--color-surface2);

    &:hover {
      border: none;
      background-color: var(--color-icons);
    }
  }

  &--hide-background {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  &--disabled {
    cursor: auto;
    border: $border-size solid var(--color-elements);
    background-color: transparent;

    &:hover {
      border: $border-size solid var(--color-elements);
      background-color: transparent;
    }
  }

  &--tall {
    height: 100%;
  }

  &--small {
    width: 16px;
    height: 16px;
  }

  &--secondary {
    &:hover {
      border: $border-size solid var(--color-elements);
    }
  }

  &--hide-borders {
    border: none;

    &:hover {
      border: none;
    }
  }

  &__content {
    aspect-ratio: 1;
    width: $icon-size - $border-size * 2;

    background-color: var(--color-primary);

    mask-position: center;
    mask-repeat: no-repeat;

    &--disabled {
      background-color: var(--color-icons);
    }

    &--secondary {
      background-color: var(--color-secondary);
    }

    &--tall {
      height: 100%;
    }

    &--arrow {
      &--up,
      &--down {
        mask-size: 6px 10px;
      }

      &--left,
      &--right {
        mask-size: 10px 6px;
      }

      &--up {
        mask-image: url('/img/arrows/arrow-up.svg');
      }

      &--down {
        mask-image: url('/img/arrows/arrow-down.svg');
      }

      &--left {
        mask-image: url('/img/arrows/arrow-left.svg');
      }

      &--right {
        mask-image: url('/img/arrows/arrow-right.svg');
      }
    }

    &--icon {
      &--close {
        mask-image: url('/img/icons/icon-close.svg');
      }

      &--plus {
        mask-image: url('/img/icons/icon-plus.svg');
      }

      &--minus {
        mask-image: url('/img/icons/icon-minus.svg');
      }
    }
  }
}
