@use '@styles/mixins' as *;

.nav {
  display: none;
  color: var(--color-secondary);

  @include uppercase;

  @include on-tablet {
    display: block;
  }

  &__items {
    display: flex;
    gap: 32px;
    height: 100%;

    @include on-desktop {
      gap: 64px;
    }
  }
}
