@use '@styles/vars' as *;
@use '@styles/mixins' as *;

$dropdown-padding-inline: 12px;

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__description {
    color: var(--color-secondary);

    @include small-text;
  }

  &__selected {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    height: 40px;
    padding-inline: $dropdown-padding-inline;
    border: 1px solid var(--color-icons);

    @include buttons-text;

    &:hover {
      border: 1px solid var(--color-secondary);
    }
  }

  &--opened &__selected {
    border: 1px solid var(--color-primary);
  }

  &--dark &__selected {
    border: 1px solid var(--color-surface2);
    background-color: var(--color-surface2);

    &:hover {
      border: 1px solid var(--color-icons);
    }
  }

  &--dark.dropdown--opened &__selected {
    border: 1px solid var(--color-accent);
  }

  &__arrow {
    transition: transform $animation-duration;
  }

  &--opened &__arrow {
    transform: rotate(180deg);
  }

  &__options {
    pointer-events: none;

    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    left: 0;

    padding-block: 8px;
    border: 1px solid var(--color-elements);

    color: var(--color-secondary);

    background-color: var(--color-white);
    clip-path: inset(0 0 100% 0);
    box-shadow: 0 2px 15px 0 #0000000d;

    transition: clip-path $animation-duration linear;

    @include body-text;
  }

  &--opened &__options {
    pointer-events: all;
    cursor: pointer;
    clip-path: inset(0 0 0 0);
  }

  &--dark &__options {
    background-color: var(--color-black);
  }

  &__option {
    display: flex;
    align-items: center;
    height: 32px;
    padding-inline: $dropdown-padding-inline;

    &:hover {
      color: var(--color-primary);
      background-color: var(--color-hover-bg);
    }
  }

  &--dark &__option {
    &:hover {
      background-color: var(--color-surface2);
    }
  }
}
