@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  height: $header-height-p;
  padding-left: 8px;

  background-color: var(--color-white);
  box-shadow: 0 $header-bottom-shadow 0 0 var(--color-elements);

  @include on-desktop {
    gap: 24px;
    height: $header-height-d;
    padding-left: 24px;
  }

  &--dark {
    background-color: var(--color-black);
    box-shadow: 0 $header-bottom-shadow 0 0 var(--color-surface2);
  }

  &__left {
    display: flex;
    gap: 32px;

    @include on-desktop {
      gap: 48px;
    }
  }

  &__search {
    flex-grow: 1;
    place-self: center start;

    &--hidden {
      display: none;
    }
  }

  &__right {
    display: flex;
    gap: 16px;

    @include on-desktop {
      gap: 24px;
    }
  }

  &__icons {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  &__user-icon {
    position: relative;
  }

  &__menu {
    @include on-tablet {
      display: none;
    }
  }
}
