@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.app {
  min-width: $phone-min-width;

  &__header {
    position: sticky;
    z-index: 100;
    top: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $row-gap-t;

    padding-top: 24px;

    color: var(--color-primary);

    @include on-desktop {
      gap: $row-gap-d;
    }

    &--home {
      @include on-tablet {
        padding-top: 32px;
      }

      @include on-desktop {
        padding-top: 56px;
      }
    }

    &--shopping-bag {
      @include on-tablet {
        padding-top: 40px;
      }
    }

    &--cart {
      @include on-tablet {
        padding-top: 40px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include content-padding-inline;

    @include on-tablet {
      gap: 40px;
    }
  }
}
