@use '@styles/vars' as *;

$padding: 5px;

.switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    box-sizing: border-box;
    aspect-ratio: 2;
    height: 50%;
    padding: $padding;
    border: 1px solid var(--color-primary);
    border-radius: 20px;

    transition: background-color $animation-duration ease-in-out;

    -webkit-tap-highlight-color: transparent;
  }

  &__circle {
    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;

    background-color: var(--color-secondary);

    transition-duration: $animation-duration;
  }

  &--dark &__content {
    background-color: var(--color-surface2);
  }

  &--dark &__circle {
    transform: translateX(calc(100% + #{$padding} * 2 + 0.8px * 2));
    background-color: var(--color-accent);
  }
}
