.price {
  display: flex;
  gap: 8px;
  align-items: center;

  &__full {
    font-family: Mont, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    color: var(--color-secondary);
  }
}
