@use '@styles/mixins' as *;

.error {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 75px;
  padding: 8px;
  border: 1px solid var(--color-primary);

  text-align: center;

  @include body-text;

  &__icon {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    aspect-ratio: 1;
    height: 60%;

    font-size: 2em;
    line-height: 2em;
    color: var(--color-secondary);
  }
}
