@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.add-to-card {
  user-select: none;
  display: flex;
  gap: 8px;
  height: $add-to-card-height;

  &__button {
    flex-grow: 1;
  }

  &__icon {
    cursor: pointer;
    width: 40px;
    height: 40px;

    @include on-desktop {
      @include hover;
    }
  }
}
