@use '@styles/vars' as *;
@use '@styles/mixins' as *;
@use '@styles/extends' as *;

.counter {
  display: flex;

  &__value,
  &__wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    height: 32px;
  }

  &__count {
    @include body-text;

    &--skeleton {

      @extend %skeleton;

      width: 20px;
      height: 20px;
    }
  }
}
