@use '@styles/mixins' as *;

.menu-nav {
  color: var(--color-secondary);

  @include uppercase;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
