@use '@styles/vars' as *;

.counter {
  position: absolute;
  bottom: 50%;
  left: 50%;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-white);
  border-radius: 50%;

  font-family: Mont, sans-serif;
  font-size: 9px;
  font-weight: 600;
  color: var(--color-white);

  background-color: var(--color-red);

  transition: opacity $animation-duration linear;

  &--dark {
    border: 1px solid var(--color-black);
  }

  &--empty {
    opacity: 0;
  }
}
