@use '@styles/mixins' as *;

.available-products {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    color: var(--color-secondary);

    @include small-text;
  }

  &__content {
    display: flex;
    gap: 8px;
  }
}
