@use '@styles/mixins' as *;
@use '@styles/extends' as *;

.product-id {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-icons);

  @include small-text;

  &--loading {

    @extend %skeleton;

    width: 30px;
    height: 1em;
  }
}
