@use '@styles/mixins' as *;

.back-button {
  cursor: pointer;

  display: flex;
  gap: 4px;
  align-items: center;

  width: fit-content;

  color: var(--color-secondary);

  @include small-text;

  &:hover {
    color: var(--color-primary);
  }

  &__arrow {
    pointer-events: none;
  }

  &__text {
    line-height: 12px;
  }

  &--dark {
    color: var(--color-primary);

    &:hover {
      color: var(--color-accent);

      & :first-child > div {
        background-color: var(--color-accent);
      }
    }
  }
}
