@use '@styles/vars' as *;

.products-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    display: flex;
    gap: 21px;
    align-items: center;
    justify-content: space-between;
  }

  &__control-buttons {
    display: flex;
    gap: $column-gap-p;
  }
}
