@use '@styles/mixins' as *;

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 8px;

  @include small-text;

  &--body-text {
    @include body-text;
  }

  &--remove-padding {
    padding-block: 0;
  }

  &__characteristic {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  &__key {
    color: var(--color-secondary);
    text-align: left;
  }

  &__value {
    color: var(--color-primary);
    text-align: right;
  }
}
