@use '@styles/mixins' as *;

.top-navigation {
  display: flex;
  gap: 8px;
  align-items: center;

  height: 16px;

  color: var(--color-primary);

  @include small-text;

  &__home {
    align-self: stretch;
  }

  &__item:last-child {
    pointer-events: none;

    overflow: hidden;

    color: var(--color-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
