@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.home-page {
  &__content {
    display: flex;
    flex-direction: column;
    gap: $row-gap-p;
    margin-top: $row-gap-p;

    @include on-tablet {
      gap: $row-gap-t;
      margin-top: $row-gap-t;
    }

    @include on-desktop {
      gap: $row-gap-d;
      margin-top: $row-gap-d;
    }
  }
}
