@use '@styles/vars' as *;
@use '@styles/mixins' as *;
@use '@styles/extends' as *;

.product-card-skeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;

  box-sizing: border-box;
  padding: 32px;
  border: 1px solid var(--color-elements);

  &__image {

    @extend %skeleton;

    aspect-ratio: 1;
    width: 100%;
    margin-bottom: 16px;
    object-fit: contain;
  }

  &__title {
    @extend %skeleton;

    margin-bottom: auto;

    @include body-text;
  }

  &__price {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__curr-price {

    @extend %skeleton;

    width: 30%;
  }

  &__prev-price {

    @extend %skeleton;

    width: 30%;

    font-family: Mont, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    color: var(--color-secondary);
  }

  &__divider {
    border: 1px solid var(--color-elements);
  }

  &__characteristic {

    @extend %skeleton;

    display: flex;
    justify-content: space-between;
  }

  &__add-to-card {

    @extend %skeleton;

    height: $add-to-card-height;
  }
}
