@use '@styles/vars' as *;
@use '@styles/mixins' as *;
@use '@styles/extends' as *;

.pictures-slider {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__top {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    column-gap: $column-gap-p;
    margin-inline: -$padding-inline-p;

    @include on-tablet {
      margin-inline: 0;
    }
  }

  &__button {
    display: none;

    &--left {
      justify-self: start;
    }

    &--right {
      justify-self: end;
    }

    @include on-tablet {
      display: block;
      grid-column: span 1;
    }
  }

  &__slider {
    position: relative;

    overflow: auto hidden;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-column: 1 / -1;

    @include hide-scrollbar;

    &--isLoading {
      overflow-x: hidden;
    }

    @include on-tablet {
      grid-column: span 1;
    }
  }

  &__picture {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;

    &--isLoading {
      position: absolute;
      inset: 0, 0, 0, 0;
    }

    @include on-tablet {
      aspect-ratio: initial;
      height: calc(400 * (100vw / 1200));
      object-position: -20px;
    }

    @include on-desktop {
      height: 400px;
      object-position: center;
    }
  }

  &__bottom {
    display: flex;
    gap: 4px;
    margin-inline: auto;
  }

  &__dot {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    width: 24px;

    @include on-desktop {
      @include hover(1.5);
    }

    &::after {
      content: '';

      display: block;

      width: 14px;
      height: 4px;

      background-color: var(--color-elements);
    }

    &--active::after {
      background-color: var(--color-primary);
    }
  }
}
