@use '@styles/mixins' as *;
@use '@styles/extends' as *;

.product-card {
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: column;
  gap: 8px;

  box-sizing: border-box;
  padding: 32px;
  border: 1px solid var(--color-elements);

  -webkit-tap-highlight-color: transparent;

  &__image {
    aspect-ratio: 1;
    width: 100%;
    margin-bottom: 16px;
    object-fit: contain;
  }

  &__title {
    margin-bottom: auto;

    @include body-text;
  }

  &__divider {
    border: 1px solid var(--color-elements);
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 8px;
  }
}
