@use '@styles/mixins' as *;

.footer {
  padding-block: 32px;
  box-shadow: 0 -1px 0 0 var(--color-elements);

  @include on-tablet {
    display: grid;
    align-items: center;
    height: 96px;
    padding-block: 0;
  }

  &__content {
    row-gap: 32px;
    align-items: center;

    @include page-grid;
    @include content-padding-inline;
  }

  &__logo {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      grid-column: 1 / 9;
    }
  }

  &__links {
    @include uppercase;

    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: 16px;
    align-items: start;

    color: var(--color-secondary);

    @include on-tablet {
      grid-column: 5 / 9;
      flex-direction: row;
      row-gap: 0;
      justify-content: space-between;
    }

    @include on-desktop {
      grid-column: 9 / 17;
    }

    &--dark {
      color: var(--color-primary);
    }
  }

  &__link {
    @include on-desktop {
      @include hover;
    }
  }

  &__back-to-top {
    grid-column: 1 / -1;
    justify-items: center;

    @include on-tablet {
      grid-column: 9 / 13;
      justify-items: right;
    }

    @include on-desktop {
      grid-column: 17 / 25;
    }
  }
}
