@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.back-to-top {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: $column-gap-p;
  align-items: center;

  height: 32px;

  color: var(--color-secondary);

  @include on-desktop {
    @include hover;
  }

  &__label {
    @include small-text;
  }

  &__arrow {
    pointer-events: none;
  }
}
